/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  font-size: 10px;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.row {
  box-sizing: border-box;
  margin: 0 -10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row.natural-height {
  align-items: flex-start;
}

.row.flex-column {
  flex-direction: column;
}

.col {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1rem;
}

.col.reverse {
  flex-direction: column-reverse;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.align-start {
  align-self: flex-start;
}

.align-end {
  align-self: flex-end;
}

.align-center {
  align-self: center;
}

.align-baseline {
  align-self: baseline;
}

.align-stretch {
  align-self: stretch;
}

.col-xs {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1rem;
}

.col-xs-1 {
  box-sizing: border-box;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
  padding: 1rem;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-2 {
  box-sizing: border-box;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 1rem;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-3 {
  box-sizing: border-box;
  flex-basis: 25%;
  max-width: 25%;
  padding: 1rem;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-4 {
  box-sizing: border-box;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 1rem;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-5 {
  box-sizing: border-box;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
  padding: 1rem;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-6 {
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%;
  padding: 1rem;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-7 {
  box-sizing: border-box;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
  padding: 1rem;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-8 {
  box-sizing: border-box;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
  padding: 1rem;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-9 {
  box-sizing: border-box;
  flex-basis: 75%;
  max-width: 75%;
  padding: 1rem;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-10 {
  box-sizing: border-box;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
  padding: 1rem;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-11 {
  box-sizing: border-box;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
  padding: 1rem;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-12 {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  padding: 1rem;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.row.start-xs {
  justify-content: flex-start;
}

.row.center-xs {
  justify-content: center;
}

.row.end-xs {
  justify-content: flex-end;
}

.row.top-xs {
  align-items: flex-start;
}

.row.middle-xs {
  align-items: center;
}

.row.bottom-xs {
  align-items: flex-end;
}

.row.around-xs {
  justify-content: space-around;
}

.row.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

@media only screen and (min-width: 768px) {
  .col-sm {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem;
  }

  .col-sm-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1rem;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1rem;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1rem;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1rem;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1rem;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1rem;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1rem;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1rem;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1rem;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1rem;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1rem;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1rem;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .row.start-sm {
    justify-content: flex-start;
  }

  .row.center-sm {
    justify-content: center;
  }

  .row.end-sm {
    justify-content: flex-end;
  }

  .row.top-sm {
    align-items: flex-start;
  }

  .row.middle-sm {
    align-items: center;
  }

  .row.bottom-sm {
    align-items: flex-end;
  }

  .row.around-sm {
    justify-content: space-around;
  }

  .row.between-sm {
    justify-content: space-between;
  }

  .first-sm {
    order: -1;
  }

  .last-sm {
    order: 1;
  }
}
@media only screen and (min-width: 992px) {
  .col-md {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem;
  }

  .col-md-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1rem;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1rem;
  }

  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1rem;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1rem;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1rem;
  }

  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1rem;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1rem;
  }

  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1rem;
  }

  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1rem;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1rem;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1rem;
  }

  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1rem;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .row.start-md {
    justify-content: flex-start;
  }

  .row.center-md {
    justify-content: center;
  }

  .row.end-md {
    justify-content: flex-end;
  }

  .row.top-md {
    align-items: flex-start;
  }

  .row.middle-md {
    align-items: center;
  }

  .row.bottom-md {
    align-items: flex-end;
  }

  .row.around-md {
    justify-content: space-around;
  }

  .row.between-md {
    justify-content: space-between;
  }

  .first-md {
    order: -1;
  }

  .last-md {
    order: 1;
  }
}
@media only screen and (min-width: 1200px) {
  .col-lg {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem;
  }

  .col-lg-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1rem;
  }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-lg-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1rem;
  }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1rem;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1rem;
  }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1rem;
  }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1rem;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1rem;
  }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1rem;
  }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1rem;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1rem;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1rem;
  }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1rem;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .row.start-lg {
    justify-content: flex-start;
  }

  .row.center-lg {
    justify-content: center;
  }

  .row.end-lg {
    justify-content: flex-end;
  }

  .row.top-lg {
    align-items: flex-start;
  }

  .row.middle-lg {
    align-items: center;
  }

  .row.bottom-lg {
    align-items: flex-end;
  }

  .row.around-lg {
    justify-content: space-around;
  }

  .row.between-lg {
    justify-content: space-between;
  }

  .first-lg {
    order: -1;
  }

  .last-lg {
    order: 1;
  }
}
@media only screen and (min-width: 1400px) {
  .col-xl {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem;
  }

  .col-xl-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1rem;
  }

  .col-xl-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-xl-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1rem;
  }

  .col-xl-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-xl-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1rem;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1rem;
  }

  .col-xl-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-xl-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1rem;
  }

  .col-xl-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-xl-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1rem;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1rem;
  }

  .col-xl-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-xl-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1rem;
  }

  .col-xl-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-xl-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1rem;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1rem;
  }

  .col-xl-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-xl-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1rem;
  }

  .col-xl-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-xl-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1rem;
  }

  .col-xl-offset-12 {
    margin-left: 100%;
  }

  .row.start-xl {
    justify-content: flex-start;
  }

  .row.center-xl {
    justify-content: center;
  }

  .row.end-xl {
    justify-content: flex-end;
  }

  .row.top-xl {
    align-items: flex-start;
  }

  .row.middle-xl {
    align-items: center;
  }

  .row.bottom-xl {
    align-items: flex-end;
  }

  .row.around-xl {
    justify-content: space-around;
  }

  .row.between-xl {
    justify-content: space-between;
  }

  .first-xl {
    order: -1;
  }

  .last-xl {
    order: 1;
  }
}
.col-gutter-lr {
  padding: 0 1rem;
}

.col-no-gutter {
  padding: 0;
}

.show {
  display: block !important;
}

.row.show {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide {
  display: none !important;
}

.show-xs {
  display: block !important;
}

.row.show-xs {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide-xs {
  display: none !important;
}

@media only screen and (max-width: 767.9px) {
  .show-xs-only {
    display: block !important;
  }

  .row.show-xs-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xs-only {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .show-sm {
    display: block !important;
  }

  .row.show-sm {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.9px) {
  .show-sm-only {
    display: block !important;
  }

  .row.show-sm-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm-only {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) {
  .show-md {
    display: block !important;
  }

  .row.show-md {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.9px) {
  .show-md-only {
    display: block !important;
  }

  .row.show-md-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1200px) {
  .show-lg {
    display: block !important;
  }

  .row.show-lg {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg {
    display: none !important;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.9px) {
  .show-lg-only {
    display: block !important;
  }

  .row.show-lg-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1400px) {
  .show-xl {
    display: block !important;
  }

  .row.show-xl {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xl {
    display: none !important;
  }
}
.breadcrumb {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 20px 0;
}
.breadcrumb > li {
  line-height: 20px;
  display: inline-block;
  font-size: 1.6rem;
}
.breadcrumb > li:after {
  content: ">";
  padding: 0 5px;
}
.form_group {
  margin-bottom: 20px;
}

.form_control {
  margin: 0;
  width: 100%;
  color: #fff;
  height: 60px;
  outline: none;
  font-weight: 700;
  background: #fff;
  font-size: 1.8rem;
  line-height: 3rem;
  padding: 14px 20px 14px 20px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #fff;
  font-family: "Gotham Pro", Arial, sans-serif;
  background: rgba(255, 255, 255, 0.13);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.form_control::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.form_control:-ms-input-placeholder {
  color: #fff;
}
.form_control::-webkit-input-placeholder {
  color: #fff;
}
.form_control::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.form_control:focus, .form_control:active {
  outline: none;
}
.form_control:focus::-moz-placeholder, .form_control:active::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.form_control:focus:-ms-input-placeholder, .form_control:active:-ms-input-placeholder {
  color: transparent;
}
.form_control:focus::-webkit-input-placeholder, .form_control:active::-webkit-input-placeholder {
  color: transparent;
}
@media (min-width: 1400px) {
  .form_control {
    font-size: 2.2rem;
  }
}

.form_select {
  cursor: pointer;
  padding-right: 40px;
  -webkit-appearance: none;
  background: rgba(255, 255, 255, 0.13) url("../img/icon__select.png") 100% 50% no-repeat;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  /* for IE */
  -ms-appearance: none;
  appearance: none !important;
}
.form_select select::-ms-expand {
  display: none;
}

option {
  color: #000;
}

.btn {
  color: #fff;
  outline: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.8rem;
  padding: 20px 35px 20px 35px;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0);
  font-family: "Gotham Pro", Arial, sans-serif;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.4);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn:active {
  background: rgba(255, 255, 255, 0.2);
}
.btn:focus, .btn.focus {
  outline: 0;
}
.btn.btn_black {
  color: #000;
  border-color: #000;
  background: rgba(0, 0, 0, 0);
}
.btn.btn_black:hover {
  color: #000;
  background: rgba(0, 0, 0, 0.4);
}
.btn.btn_black:active {
  background: rgba(0, 0, 0, 0.2);
}
@media (min-width: 1400px) {
  .btn {
    font-weight: 300;
    font-size: 2.4rem;
  }
}

.btn_border {
  color: #fff;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.8rem;
  padding: 15px 30px 15px 30px;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.23);
  font-family: "Gotham Pro", Arial, sans-serif;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn_border:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.4);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn_border:active {
  background: rgba(255, 255, 255, 0.2);
}
.btn_border:focus, .btn_border.focus {
  outline: 0;
}
@media (min-width: 1400px) {
  .btn_border {
    font-size: 2.2rem;
    padding: 25px 35px 25px 35px;
  }
}

.btn_red {
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 20px 30px 20px 30px;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  background: #dc291a;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  font-family: "Gotham Pro", Arial, sans-serif;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn_red:hover {
  color: #fff;
  background: #dc0018;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn_red:active {
  background: #dc291a;
}
.btn_red:focus, .btn_red.focus {
  outline: 0;
}
@media (min-width: 992px) {
  .btn_red {
    font-size: 1.8rem;
  }
}
@media (min-width: 1400px) {
  .btn_red {
    font-size: 2rem;
  }
}

.btn_round {
  padding: 20px 30px 20px 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}
@media (min-width: 992px) {
  .btn_round {
    padding: 20px 50px 20px 50px;
  }
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.img_fluid {
  height: auto;
  display: block;
  max-width: 100%;
}

.ico_svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}

.text_center {
  text-align: center !important;
}

.text_right {
  text-align: right !important;
}

.text_justify {
  text-align: justify !important;
}

.text_nowrap {
  white-space: nowrap !important;
}

.text_lowercase {
  text-transform: lowercase !important;
}

.text_uppercase {
  text-transform: uppercase !important;
}

.text_capitalize {
  text-transform: capitalize !important;
}

.mb_10 {
  margin-bottom: 10px !important;
}

.mb_20 {
  margin-bottom: 20px !important;
}

.mb_30 {
  margin-bottom: 30px !important;
}

.mb_40 {
  margin-bottom: 40px !important;
}

.mb_50 {
  margin-bottom: 50px !important;
}

.mb_60 {
  margin-bottom: 60px !important;
}

.color_red {
  color: #dc291a !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: "Circe", Arial, sans-serif;
  background-color: #fff;
  font-size: 1.6rem;
  line-height: 1.5;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1310px;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  line-height: 1.1;
}

h1, .h1 {
  font-size: 3.2rem;
  font-family: "Montserrat", Arial, sans-serif;
}
@media (min-width: 992px) {
  h1, .h1 {
    font-size: 4.8rem;
  }
}

h2, .h2 {
  font-weight: 800;
  font-size: 3.2rem;
  margin-bottom: 30px;
  padding-left: 10px;
  border-left: 5px solid #dc291a;
  font-family: "Montserrat", Arial, sans-serif;
}
@media (min-width: 768px) {
  h2, .h2 {
    font-size: 4.2rem;
  }
}
@media (min-width: 992px) {
  h2, .h2 {
    font-size: 4.8rem;
    border-left: 10px solid #dc291a;
  }
}
@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 5.2rem;
  }
}
@media (min-width: 1400px) {
  h2, .h2 {
    font-size: 6.4rem;
  }
}

h3, .h3 {
  font-size: 2.4rem;
  font-family: "Montserrat", Arial, sans-serif;
}

h4, .h4 {
  font-size: 2rem;
  font-family: "Montserrat", Arial, sans-serif;
}

h5, .h5 {
  font-size: 1.6rem;
  font-family: "Montserrat", Arial, sans-serif;
}

h6, .h6 {
  font-size: 1.4rem;
  font-family: "Montserrat", Arial, sans-serif;
}

p {
  margin: 0 0 20px 0;
}

a {
  outline: none;
  color: #000;
  text-decoration: underline;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #000;
  text-decoration: none;
}

.header {
  z-index: 1100;
  font-size: 0;
  line-height: 0;
  padding: 15px 0;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}
.header__row {
  padding-left: 40px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.header__toggle {
  left: 0;
  top: 50%;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  position: absolute;
  display: inline-block;
}
.header__toggle:after, .header__toggle:before {
  left: 50%;
  height: 2px;
  width: 24px;
  z-index: 10;
  content: "";
  background: #002b5a;
  margin-left: -12px;
  position: absolute;
  display: inline-block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__toggle:after {
  top: 3px;
}
.header__toggle:before {
  bottom: 3px;
}
.header__toggle span {
  top: 50%;
  left: 50%;
  height: 2px;
  width: 24px;
  z-index: 10;
  background: #002b5a;
  margin-top: -1px;
  margin-left: -12px;
  position: absolute;
  display: inline-block;
}
.header__toggle.nav_open span {
  display: none;
}
.header__toggle.nav_open:after {
  top: 11px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__toggle.nav_open:before {
  bottom: 11px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__logo {
  width: 90px;
  display: block;
}
.header__text {
  top: 50%;
  display: none;
  font-size: 2rem;
  line-height: 2rem;
  margin-top: -7px;
  color: #002b5a;
  position: absolute;
  white-space: nowrap;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.header__contact {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
.header__contact_phone {
  color: #000;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  font-family: "Gotham Pro", Arial, sans-serif;
}
.header__contact_phone:hover {
  color: #000;
  text-decoration: none;
}
.header__contact_callback {
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #dc291a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #dc291a;
}
.header__contact_callback:hover {
  color: #dc291a;
  text-decoration: none;
  border-bottom-color: transparent;
}
@media (min-width: 480px) {
  .header__logo {
    width: 160px;
  }
  .header__contact {
    padding-left: 30px;
    position: relative;
  }
  .header__contact:before {
    left: 0;
    top: 3px;
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    display: inline-block;
    background: url("../img/icon__phone_blue.svg") 50% 50% no-repeat;
  }
}
@media (min-width: 768px) {
  .header {
    padding: 25px 0;
  }
  .header__toggle {
    display: inline-block;
  }
  .header__row {
    padding-left: 40px;
  }
  .header__logo {
    width: 200px;
  }
  .header__contact_phone {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  .header {
    padding: 40px 0 35px 0;
    top: auto;
    left: auto;
    right: auto;
    position: relative;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .header__row {
    height: 45px;
    padding-left: 0;
  }
  .header__toggle {
    display: none;
  }
  .header__logo {
    width: 281px;
  }
  .header__text {
    left: 350px;
    display: block;
  }
}
.nav {
  z-index: 1050;
  position: relative;
  background: #002b5a;
}
.nav__mobile {
  z-index: 100;
  padding: 10px 0;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.nav__mobile_phone {
  color: #fff;
  font-size: 2rem;
  line-height: 2rem;
  display: inline-block;
  text-decoration: none;
  font-family: "Gotham Pro", Arial, sans-serif;
}
.nav__mobile_phone:hover {
  color: #fff;
  text-decoration: none;
}
.nav__mobile_toggle {
  width: 24px;
  height: 24px;
  position: relative;
  display: inline-block;
}
.nav__mobile_toggle:after, .nav__mobile_toggle:before {
  left: 50%;
  height: 2px;
  width: 24px;
  z-index: 10;
  content: "";
  background: #fff;
  margin-left: -12px;
  position: absolute;
  display: inline-block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.nav__mobile_toggle:after {
  top: 3px;
}
.nav__mobile_toggle:before {
  bottom: 3px;
}
.nav__mobile_toggle span {
  top: 50%;
  left: 50%;
  height: 2px;
  width: 24px;
  z-index: 10;
  background: #fff;
  margin-top: -1px;
  margin-left: -12px;
  position: absolute;
  display: inline-block;
}
.nav__layout {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  z-index: 50;
  height: 100vh;
  visibility: hidden;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.nav__content {
  top: 67px;
  left: 0;
  width: 260px;
  height: calc(100vh - 67px);
  z-index: 1200;
  padding: 15px 0;
  position: fixed;
  overflow-y: hidden;
  margin-left: -280px;
  background: #002b5a;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.nav__content > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav__content > ul > li > a {
  color: #fff;
  width: 100%;
  padding: 1px 15px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 3rem;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  font-family: "Montserrat", Arial, sans-serif;
}
.nav__content > ul > li > a:hover {
  color: #fff;
  background: #023975;
  text-decoration: none;
}
.nav__content > ul > li.active > a {
  color: #fff;
  background: #023975;
}
.nav.nav_open .nav__layout {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.nav.nav_open .nav__mobile_toggle span {
  display: none;
}
.nav.nav_open .nav__mobile_toggle:after {
  top: 11px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.nav.nav_open .nav__mobile_toggle:before {
  bottom: 11px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.nav.nav_open .nav__content {
  margin-left: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (min-width: 768px) {
  .nav.fix_top {
    top: auto;
    left: auto;
    right: auto;
    position: relative;
  }
  .nav__mobile {
    display: none;
  }
  .nav__content {
    top: 87px;
    width: 330px;
    height: calc(100vh - 87px);
    margin-left: -350px;
  }
  .nav__content > ul > li > a {
    padding: 10px 20px;
    font-size: 1.6rem;
    line-height: 3rem;
  }
}
@media (min-width: 992px) {
  .nav {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .nav.fix_top {
    top: auto;
    left: auto;
    right: auto;
    position: relative;
  }
  .nav__mobile {
    display: none;
  }
  .nav__content {
    padding: 0;
    top: auto;
    left: auto;
    width: 100%;
    height: auto;
    margin-left: 0;
    overflow: hidden;
    position: relative;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .nav__content > ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__content > ul > li {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .nav__content > ul > li > a {
    text-align: center;
    padding: 10px 20px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
  }
  .nav__layout {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}
@media (min-width: 1200px) {
  .nav__content {
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    border-radius: 35px;
  }
  .nav__content > ul > li > a {
    padding: 20px 30px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    border-radius: 35px;
  }
}
@media (min-width: 1400px) {
  .nav__content > ul > li > a {
    font-size: 2rem;
  }
}

.footer {
  color: #fff;
  text-align: center;
  background: #002b5a url("../img/footer__bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.footer__bottom {
  font-size: 1.2rem;
  line-height: 2rem;
  padding-top: 20px;
  padding-bottom: 50px;
  border-top: 1px solid #204971;
}
.footer__top {
  padding-top: 40px;
  padding-bottom: 10px;
}
.footer__info {
  margin-bottom: 30px;
}
.footer__logo {
  width: 288px;
  display: block;
  margin: 0 auto 25px auto;
}
.footer__copy {
  color: #a9a9a9;
  font-size: 1.5rem;
  line-height: 2rem;
}
.footer__contact {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  list-style: none;
}
.footer__contact_phone {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2rem;
  display: inline-block;
  text-decoration: none;
}
.footer__contact_phone:hover {
  color: #fff;
  text-decoration: navajowhite;
}
.footer__contact_callback {
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #dc291a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #dc291a;
}
.footer__contact_callback:hover {
  color: #dc291a;
  text-decoration: none;
  border-bottom-color: transparent;
}
.footer__nav {
  font-size: 1.6rem;
  line-height: 2rem;
}
.footer__nav_col {
  margin-bottom: 30px;
}
.footer__nav_title {
  color: #fff;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 10px;
  font-family: "Gotham Pro", Arial, sans-serif;
}
.footer__nav_title a {
  color: #fff;
  text-decoration: none;
}
.footer__nav_title a:hover {
  color: #fff;
  text-decoration: none;
}
.footer__nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer__nav ul li {
  margin-bottom: 10px;
}
.footer__nav ul li a {
  color: #fff;
  text-decoration: none;
}
.footer__nav ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
@media (min-width: 576px) {
  .footer {
    text-align: left;
  }
  .footer__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .footer__info {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .footer__nav {
    margin: 0 -10px;
    width: calc(100% + 20px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -moz-order: 3;
    -ms-flex-order: 3;
    order: 3;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .footer__nav_col {
    padding: 0 10px;
    margin-bottom: 0;
  }
  .footer__logo {
    margin: 0 0 25px 0;
  }
  .footer__contact {
    padding: 10px 0 0 30px;
    background: url("../img/icon__phone_red.png") 0 0 no-repeat;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
}
@media (min-width: 1200px) {
  .footer__row {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
  }
  .footer__info {
    margin-bottom: 0;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .footer__nav {
    width: 520px;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .footer__contact {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -moz-order: 3;
    -ms-flex-order: 3;
    order: 3;
    margin-bottom: 0;
  }
}
.page {
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  padding-top: 67px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 768px) {
  .page {
    padding-top: 87px;
  }
}
@media (min-width: 992px) {
  .page {
    padding-top: 0;
  }
}

.main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.slider_button_prev,
.slider_button_next {
  top: 50%;
  width: 78px;
  z-index: 200;
  height: 78px;
  border: none;
  display: none;
  outline: none;
  cursor: pointer;
  margin-top: -39px;
  position: absolute;
  background: white url("../img/icon__angle_prev.svg") 50% 50% no-repeat;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.slider_button_prev:hover,
.slider_button_next:hover {
  background-color: white;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.slider_button_next {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.promo__slide {
  color: #fff;
  height: 420px;
  position: relative;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.promo__slide:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  content: "";
  position: absolute;
  background: rgba(0, 44, 90, 0.5);
  background: -webkit-linear-gradient(left, rgba(0, 44, 90, 0.7), rgba(0, 44, 90, 0));
  background: -moz-linear-gradient(left, rgba(0, 44, 90, 0.7), rgba(0, 44, 90, 0));
  background: linear-gradient(to right, rgba(0, 44, 90, 0.7), rgba(0, 44, 90, 0));
}
.promo__wrap {
  z-index: 50;
  margin: auto 0;
  position: relative;
}
.promo__heading {
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 2.6rem;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.promo__text {
  font-size: 2rem;
  line-height: 2.2rem;
  margin-bottom: 30px;
}
.promo .btn_red {
  font-weight: 800;
}
@media (min-width: 576px) {
  .promo__slide {
    height: 360px;
  }
}
.promo .swiper-pagination {
  font-size: 0;
  line-height: 0;
  bottom: 30px;
}
.promo .swiper-pagination-bullet {
  opacity: 1;
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
  border: 2px solid #fff;
  background: transparent;
  margin: 0 6px !important;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.promo .swiper-pagination-bullet-active:before {
  top: 50%;
  left: 50%;
  content: "";
  width: 10px;
  height: 10px;
  background: #fff;
  position: absolute;
  display: inline-block;
  margin: -5px 0 0 -5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.promo .promo_button_prev,
.promo .promo_button_next {
  top: 50%;
  z-index: 20;
  width: 78px;
  height: 78px;
  border: none;
  display: none;
  outline: none;
  cursor: pointer;
  margin-top: -39px;
  position: absolute;
  background: rgba(255, 255, 255, 0.5) url("../img/icon__angle_prev.svg") 50% 50% no-repeat;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.promo .promo_button_prev:hover,
.promo .promo_button_next:hover {
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.promo .promo_button_prev {
  left: 50%;
  margin-left: -485px;
}
.promo .promo_button_next {
  right: 50%;
  margin-right: -485px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media (min-width: 768px) {
  .promo__slide {
    height: 440px;
  }
  .promo__heading {
    font-size: 4.8rem;
    line-height: 5.2rem;
    margin-bottom: 0;
  }
  .promo__text {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }
}
@media (min-width: 992px) {
  .promo {
    margin-top: -25px;
  }
  .promo__slide {
    height: 509px;
  }
  .promo__wrap {
    padding-top: 30px;
  }
  .promo__heading {
    font-size: 5.6rem;
    line-height: 6.2rem;
  }
  .promo__text {
    margin-bottom: 35px;
  }
  .promo__content {
    padding: 0 90px;
  }
  .promo .swiper-pagination {
    bottom: 50px;
  }
  .promo .promo_button_prev,
.promo .promo_button_next {
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .promo {
    margin-top: -35px;
  }
  .promo .promo_button_prev {
    margin-left: -600px;
  }
  .promo .promo_button_next {
    margin-right: -600px;
  }
}
@media (min-width: 1400px) {
  .promo .promo_button_prev {
    margin-left: -670px;
  }
  .promo .promo_button_next {
    margin-right: -670px;
  }
}
@media (min-width: 1560px) {
  .promo .promo_button_prev {
    margin-left: -740px;
  }
  .promo .promo_button_next {
    margin-right: -740px;
  }
}

.block {
  padding-top: 30px;
  padding-bottom: 30px;
}
.block_gray {
  background: #f3f3f3;
}
.block h2 {
  color: #002b5a;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .block {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .block h2 {
    margin-bottom: 50px;
  }
}
.news_block {
  max-width: 400px;
  margin: 0 auto;
  overflow: visible;
}
.news_block__inner {
  width: 290px;
  position: relative;
}
.news_block:before {
  top: -20px;
  left: -500px;
  bottom: -20px;
  z-index: 50;
  width: 500px;
  content: "";
  position: absolute;
  background: url("../img/slider_pattern_white__left.png") 100% 0 repeat-y;
}
.news_block:after {
  top: -20px;
  right: -500px;
  bottom: -20px;
  z-index: 50;
  width: 500px;
  content: "";
  position: absolute;
  background: url("../img/slider_pattern_white__right.png") 0 0 repeat-y;
}
.news_block .swiper-pagination {
  z-index: 200;
  font-size: 0;
  line-height: 0;
  left: auto;
  right: auto;
  bottom: auto;
  display: none;
  position: relative;
  padding-top: 40px;
}
.news_block .swiper-pagination-bullet {
  opacity: 1;
  width: 20px;
  height: 20px;
  cursor: pointer;
  outline: none;
  position: relative;
  display: inline-block;
  border: 2px solid #002b5a;
  background: transparent;
  margin: 0 6px !important;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.news_block .swiper-pagination-bullet-active:before {
  top: 50%;
  left: 50%;
  content: "";
  width: 10px;
  height: 10px;
  background: #002b5a;
  position: absolute;
  display: inline-block;
  margin: -5px 0 0 -5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .news_block {
    width: 100%;
    max-width: inherit;
  }
  .news_block__inner {
    width: 100%;
    position: relative;
  }
  .news_block:after, .news_block:before {
    display: block;
  }
}
@media (min-width: 1200px) {
  .news_block .swiper-pagination {
    display: block;
  }
  .news_block .slider_button_prev,
.news_block .slider_button_next {
    margin-top: -100px;
    display: inline-block;
  }
  .news_block .slider_button_prev {
    left: -30px;
  }
  .news_block .slider_button_next {
    right: -30px;
  }
  .news_block .swiper-pagination {
    display: block;
  }
}
@media (min-width: 1600px) {
  .news_block:before {
    width: 1000px;
    left: -1000px;
  }
  .news_block:after {
    width: 1000px;
    right: -1000px;
  }
  .news_block .slider_button_prev {
    left: -95px;
  }
  .news_block .slider_button_next {
    right: -95px;
  }
}

.news_item {
  font-size: 0;
  line-height: 0;
  display: block;
  overflow: hidden;
  background: #fff;
  color: #002b5a;
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.28);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.news_item:hover {
  color: #002b5a;
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.48);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.48);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.news_item__image {
  position: relative;
}
.news_item__date {
  right: 0;
  top: 22px;
  color: #fff;
  z-index: 10;
  height: 44px;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2rem;
  position: absolute;
  padding: 12px 20px 12px 30px;
  font-family: "Gotham Pro", Arial, sans-serif;
  background: url("../img/date__bg.png") 0 0 no-repeat;
}
.news_item__title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3rem;
  padding: 20px 20px;
}
.news_item__title span {
  width: 100%;
  height: 60px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 1400px) {
  .news_item__title {
    font-weight: 800;
    font-size: 3.1rem;
    line-height: 3.5rem;
    padding: 20px 25px 20px 25px;
  }
  .news_item__title span {
    height: 70px;
  }
}

.advantage {
  padding-top: 40px;
  margin-bottom: 0;
  font-size: 0;
  line-height: 0;
  background: #fff;
}
.advantage ul {
  padding: 0;
  margin: 0 -10px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.advantage ul li {
  width: 50%;
  margin-bottom: 40px;
}
.advantage__val {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: "Gotham Pro", Arial, sans-serif;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.advantage__val span {
  color: #fff;
  width: 37px;
  height: 57px;
  padding: 2px 0 14px 0;
  font-weight: 700;
  font-size: 2.7rem;
  line-height: 4.1rem;
  text-align: center;
  display: inline-block;
  background: #002b5a;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  font-family: "Oswald", Arial, sans-serif;
}
.advantage__text {
  color: #000;
  text-align: center;
  font-weight: 800;
  font-size: 2.1rem;
  line-height: 2.1rem;
}
@media (min-width: 768px) {
  .advantage ul {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
  }
  .advantage ul li {
    width: 25%;
  }
  .advantage ul li:nth-child(1) {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .advantage ul li:nth-child(2) {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
    -moz-order: 4;
    -ms-flex-order: 4;
    order: 4;
  }
  .advantage ul li:nth-child(3) {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .advantage ul li:nth-child(4) {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -moz-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }
}
@media (min-width: 1200px) {
  .advantage__text {
    font-size: 2.6rem;
    line-height: 2.6rem;
  }
  .advantage__val span {
    font-size: 3.9rem;
  }
}
@media (min-width: 1400px) {
  .advantage__text {
    font-size: 3.1rem;
    line-height: 3.1rem;
  }
  .advantage__val span {
    font-size: 3.9rem;
  }
}

.offer {
  padding-top: 65px;
  padding-bottom: 70px;
  background: url("../img/form__bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.offer h2 {
  color: #fff;
  margin-bottom: 55px;
}
.offer .btn_red {
  width: 100%;
}
@media (min-width: 1400px) {
  .offer h2 {
    padding-left: 100px;
  }
}

.popular {
  width: 100%;
}
.popular_inner {
  width: 290px;
  position: relative;
}
.popular_slider {
  overflow: visible;
}
.popular_slider:before {
  top: 0;
  left: -500px;
  bottom: 0;
  z-index: 50;
  width: 500px;
  content: "";
  position: absolute;
  background: url("../img/slider_pattern_white__left.png") 100% 0 repeat-y;
}
.popular_slider:after {
  top: 0;
  right: -500px;
  bottom: 0;
  z-index: 50;
  width: 500px;
  content: "";
  position: absolute;
  background: url("../img/slider_pattern_white__right.png") 0 0 repeat-y;
}
.popular_slider .swiper-pagination {
  z-index: 200;
  font-size: 0;
  line-height: 0;
  bottom: auto;
  left: auto;
  right: auto;
  display: none;
  padding-top: 20px;
  position: relative;
}
.popular_slider .swiper-pagination-bullet {
  opacity: 1;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  border: 2px solid #002b5a;
  background: transparent;
  margin: 0 6px !important;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.popular_slider .swiper-pagination-bullet-active:before {
  top: 50%;
  left: 50%;
  content: "";
  width: 10px;
  height: 10px;
  background: #002b5a;
  position: absolute;
  display: inline-block;
  margin: -5px 0 0 -5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.popular__item {
  width: 100%;
  height: 260px;
  color: #fff;
  display: block;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
  text-decoration: none;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}
.popular__item:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.popular__item:hover {
  color: #fff;
  text-decoration: none;
}
.popular__item:hover:before {
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.popular__image {
  z-index: 1;
  position: relative;
}
.popular__wrap {
  display: none;
}
.popular__content {
  z-index: 10;
  padding: 30px 30px;
  position: relative;
  font-family: "Gotham Pro", Arial, sans-serif;
}
.popular__content_title {
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 3rem;
  margin-bottom: 5px;
}
.popular__content_text {
  font-size: 1.8rem;
  line-height: 2rem;
  font-style: italic;
}
.popular__button {
  left: 0;
  right: 0;
  z-index: 200;
  bottom: 90px;
  text-align: center;
  position: absolute;
}
@media (min-width: 576px) {
  .popular {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .popular_inner {
    width: 100%;
  }
  .popular__item {
    width: 320px;
    height: 200px;
    margin-bottom: 10px;
  }
  .popular_slider:after, .popular_slider:before {
    display: block;
  }
  .popular_two {
    width: 390px;
  }
  .popular_three {
    width: 390px;
  }
  .popular__content_title {
    font-size: 3.4rem;
    line-height: 3.8rem;
    margin-bottom: 10px;
  }
  .popular__content_text {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }
  .popular__button {
    left: auto;
    bottom: 105px;
    width: 345px;
  }
}
@media (min-width: 992px) {
  .popular_slider .slider_button_prev,
.popular_slider .slider_button_next {
    margin-top: -100px;
  }
  .popular_slider .swiper-pagination {
    display: block;
  }
  .popular__item {
    width: 350px;
    height: 315px;
    margin-bottom: 30px;
  }
  .popular_two {
    width: 560px;
  }
  .popular_three {
    width: 560px;
  }
  .popular__content {
    padding-top: 40px;
  }
  .popular__button {
    bottom: 135px;
    width: 350px;
  }
}
@media (min-width: 1200px) {
  .popular__item {
    width: 435px;
    height: 320px;
  }
  .popular__content_title {
    font-size: 4.2rem;
    line-height: 4.4rem;
  }
  .popular__content_text {
    font-size: 2.8rem;
    line-height: 3rem;
  }
  .popular_two {
    width: 675px;
  }
  .popular_three {
    width: 675px;
  }
  .popular__button {
    bottom: 140px;
    width: 435px;
  }
  .popular_slider .slider_button_prev,
.popular_slider .slider_button_next {
    margin-top: -70px;
    display: inline-block;
  }
  .popular_slider .slider_button_prev {
    left: -30px;
  }
  .popular_slider .slider_button_next {
    right: -30px;
  }
  .popular_slider .swiper-pagination {
    display: block;
  }
}
@media (min-width: 1400px) {
  .popular__item {
    width: 435px;
    height: 390px;
  }
  .popular__content_title {
    font-size: 4.8rem;
    line-height: 5rem;
  }
  .popular__content_text {
    font-size: 3.2rem;
    line-height: 3.4rem;
  }
  .popular_two {
    width: 815px;
  }
  .popular_three {
    width: 815px;
  }
}
@media (min-width: 1600px) {
  .popular_slider:before {
    width: 1000px;
    left: -1010px;
  }
  .popular_slider:after {
    width: 1000px;
    right: -1010px;
  }
  .popular_slider .slider_button_prev,
.popular_slider .slider_button_next {
    margin-top: -75px;
    display: inline-block;
  }
  .popular_slider .slider_button_prev {
    left: -90px;
  }
  .popular_slider .slider_button_next {
    right: -90px;
  }
}

.salon {
  margin: 0 auto;
  max-width: 380px;
  overflow: visible;
}
.salon:before {
  top: -20px;
  left: -510px;
  bottom: -20px;
  z-index: 50;
  width: 500px;
  content: "";
  position: absolute;
  background: url("../img/slider_pattern_gray__left.png") 100% 0 repeat-y;
}
.salon:after {
  top: -20px;
  right: -510px;
  bottom: -20px;
  z-index: 50;
  width: 500px;
  content: "";
  position: absolute;
  background: url("../img/slider_pattern_gray__right.png") 0 0 repeat-y;
}
.salon_inner {
  width: 290px;
  position: relative;
}
.salon .swiper-pagination {
  z-index: 200;
  font-size: 0;
  line-height: 0;
  left: auto;
  right: auto;
  bottom: auto;
  display: none;
  padding-top: 40px;
  position: relative;
}
.salon .swiper-pagination-bullet {
  opacity: 1;
  width: 20px;
  height: 20px;
  cursor: pointer;
  outline: none;
  position: relative;
  display: inline-block;
  border: 2px solid #002b5a;
  background: transparent;
  margin: 0 6px !important;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.salon .swiper-pagination-bullet-active:before {
  top: 50%;
  left: 50%;
  content: "";
  width: 10px;
  height: 10px;
  background: #002b5a;
  position: absolute;
  display: inline-block;
  margin: -5px 0 0 -5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.salon__item {
  color: #fff;
  display: block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.28);
}
.salon__item:hover {
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
}
.salon__content {
  top: 30px;
  left: 25px;
  z-index: 50;
  position: absolute;
}
.salon__title {
  font-weight: 800;
  font-size: 2.6rem;
  line-height: 3rem;
}
.salon__text {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-style: italic;
  font-family: "Gotham Pro", Arial, sans-serif;
}
@media (min-width: 768px) {
  .salon {
    max-width: inherit;
    width: 100%;
  }
  .salon:after, .salon:before {
    display: block;
  }
  .salon_inner {
    width: 100%;
    position: relative;
  }
  .salon__title {
    font-size: 4.6rem;
    line-height: 5rem;
  }
  .salon__text {
    font-size: 3rem;
    line-height: 3.2rem;
  }
}
@media (min-width: 992px) {
  .salon {
    width: 100%;
  }
  .salon__title {
    font-size: 3.6rem;
    line-height: 4rem;
  }
  .salon__text {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }
  .salon .swiper-pagination {
    display: block;
  }
}
@media (min-width: 1200px) {
  .salon__title {
    font-size: 4rem;
    line-height: 4.2rem;
  }
  .salon__text {
    font-size: 2.6rem;
    line-height: 2.8rem;
  }
  .salon .swiper-pagination {
    display: block;
  }
  .salon .slider_button_prev,
.salon .slider_button_next {
    margin-top: -70px;
    display: inline-block;
  }
  .salon .slider_button_prev {
    left: -30px;
  }
  .salon .slider_button_next {
    right: -30px;
  }
}
@media (min-width: 1600px) {
  .salon__title {
    font-size: 4.6rem;
    line-height: 5rem;
  }
  .salon__text {
    font-size: 3rem;
    line-height: 3.2rem;
  }
  .salon:before {
    width: 1000px;
    left: -1020px;
  }
  .salon:after {
    width: 1000px;
    right: -1020px;
  }
  .salon .slider_button_prev {
    left: -90px;
  }
  .salon .slider_button_next {
    right: -90px;
  }
}

.actions {
  width: 100%;
  margin: 0 auto;
  max-width: 500px;
}
.actions .swiper-pagination {
  z-index: 200;
  font-size: 0;
  line-height: 0;
  left: auto;
  right: auto;
  bottom: auto;
  display: none;
  padding-top: 40px;
  position: relative;
}
.actions .swiper-pagination-bullet {
  opacity: 1;
  width: 20px;
  height: 20px;
  outline: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
  border: 2px solid #002b5a;
  background: transparent;
  margin: 0 6px !important;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.actions .swiper-pagination-bullet-active:before {
  top: 50%;
  left: 50%;
  content: "";
  width: 10px;
  height: 10px;
  background: #002b5a;
  position: absolute;
  display: inline-block;
  margin: -5px 0 0 -5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .actions {
    max-width: 1920px;
  }
}
@media (min-width: 1200px) {
  .actions .swiper-pagination {
    display: block;
  }
  .actions .slider_button_prev,
.actions .slider_button_next {
    margin-top: -70px;
    display: inline-block;
  }
  .actions .slider_button_prev {
    left: 50%;
    margin-left: -600px;
  }
  .actions .slider_button_next {
    right: 50%;
    margin-right: -600px;
  }
}
@media (min-width: 1400px) {
  .actions .slider_button_prev {
    margin-left: -700px;
  }
  .actions .slider_button_next {
    margin-right: -700px;
  }
}
@media (min-width: 1600px) {
  .actions .slider_button_prev {
    left: 30px;
    margin-left: 0;
  }
  .actions .slider_button_next {
    right: 30px;
    margin-right: 0;
  }
}

.action {
  color: #fff;
  width: 100%;
  height: 330px;
  display: block;
  overflow: hidden;
  position: relative;
  border: 2px solid #fff;
  text-decoration: none;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.action:hover {
  color: #fff;
  text-decoration: none;
}
.action_row {
  margin: 0 -2px;
}
.action__content {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  position: absolute;
  padding: 25px 30px 100px 30px;
}
.action__title {
  font-weight: 800;
  font-size: 2.2rem;
  line-height: 2.6rem;
  margin-bottom: 8px;
}
.action__lead {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2rem;
}
.action__text {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2rem;
}
.action__button {
  left: 30px;
  bottom: 30px;
  position: absolute;
}
.action_black {
  color: #000;
}
.action_black:hover {
  color: #000;
}
@media (min-width: 768px) {
  .action {
    width: 50%;
    height: 400px;
  }
  .action_row {
    margin: 0 -2px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .action__content {
    padding: 50px 35px 100px 35px;
  }
  .action__title {
    font-size: 2.8rem;
    line-height: 3.2rem;
  }
  .action__lead {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.6rem;
  }
  .action__text {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 3rem;
  }
  .action__button {
    left: 35px;
    bottom: 40px;
  }
  .action_small {
    width: 45%;
  }
  .action_long {
    width: 55%;
  }
}
@media (min-width: 992px) {
  .action {
    height: 420px;
  }
  .action_small {
    width: 45%;
  }
  .action_long {
    width: 55%;
  }
}
@media (min-width: 1200px) {
  .action {
    height: 420px;
  }
  .action__title {
    font-size: 3.2rem;
    line-height: 3.8rem;
  }
  .action__lead {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.6rem;
  }
  .action_small {
    width: 40%;
  }
  .action_long {
    width: 60%;
  }
}
@media (min-width: 1400px) {
  .action {
    height: 600px;
  }
  .action__title {
    font-size: 3.6rem;
    line-height: 5rem;
  }
  .action__lead {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.2rem;
  }
  .action_small {
    width: 34%;
  }
  .action_long {
    width: 66%;
  }
}

.modal {
  width: 320px;
  padding: 40px 20px;
  background: url("../img/form__bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.modal__title {
  color: #fff;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.2rem;
  text-align: center;
  margin-bottom: 30px;
}
.modal .btn_red {
  width: 100%;
}
@media (min-width: 768px) {
  .modal {
    width: 500px;
    padding: 50px 60px;
  }
  .modal__title {
    font-size: 3.6rem;
    line-height: 4rem;
  }
}

/*# sourceMappingURL=main.css.map */
