.header {
	z-index: 1100;
	font-size: 0;
	line-height: 0;
	padding: 15px 0;
	background: #fff;
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	@include box-shadow(0px 0px 15px 0px rgba(0, 0, 0, 0.25));
	
	
	&__row {
		padding-left: 40px;
		position: relative;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}
	
	&__toggle {
		left: 0;
		top: 50%;
		width: 24px;
		height: 24px;
		margin-top: -12px;
		position: absolute;
		display: inline-block;
		
		&:after,
		&:before {
			left: 50%;
			height: 2px;
			width: 24px;
			z-index: 10;
			content: '';
			background: #002b5a;
			margin-left: -12px;
			position: absolute;
			display: inline-block;
			@include transition(.3s);
		}
		
		&:after {
			top: 3px;
		}
		
		&:before {
			bottom: 3px;
		}
		
		span {
			top: 50%;
			left: 50%;
			height: 2px;
			width: 24px;
			z-index: 10;
			background: #002b5a;
			margin-top: -1px;
			margin-left: -12px;
			position: absolute;
			display: inline-block;
		}
		
		&.nav_open {
			
			span {
				display: none;
			}
			
			&:after {
				top: 11px;
				@include rotate(-45deg);
				@include transition(.3s);
			}
			
			&:before {
				bottom: 11px;
				@include rotate(45deg);
				@include transition(.3s);
			}
		}
	}

	&__logo {
		width: 90px;
		display: block;
	}
	
	&__text {
		top: 50%;
		display: none;
		font-size: 2rem;
		line-height: 2rem;
		margin-top: -7px;
		color: $color-blue;
		position: absolute;
		white-space: nowrap;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	
	&__contact {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: right;
		
		&_phone {
			color: #000;
			margin-bottom: 5px;
			font-weight: 700;
			font-size: 1.6rem;
			line-height: 2rem;
			white-space: nowrap;
			display: inline-block;
			text-decoration: none;
			font-family: $font-family-second;
			
			&:hover {
				color: #000;
				text-decoration: none;
			}
		}
		
		&_callback {
			font-size: 1.6rem;
			line-height: 1.6rem;
			color: $color-red;
			display: inline-block;
			text-decoration: none;
			border-bottom: 1px solid $color-red;
			
			&:hover {
				color: $color-red;
				text-decoration: none;
				border-bottom-color: transparent;
			}
		}
	}
	
	@media (min-width: 480px) {
		
		&__logo {
			width: 160px;
		}
		
		&__contact {
			padding-left: 30px;
			position: relative;
			
			&:before {
				left: 0;
				top: 3px;
				content: '';
				width: 18px;
				height: 18px;
				position: absolute;
				display: inline-block;
				background: url("../img/icon__phone_blue.svg") 50% 50% no-repeat;
			}
		}
	}
	
	@media (min-width: $screen-sm-min) {
		padding: 25px 0;
		
		
		
		&__toggle {
			display: inline-block;
		}
		
		&__row {
			padding-left: 40px;
		}
		
		&__logo {
			width: 200px;
		}
		
		&__contact {
			
			&_phone {
				font-size: 2rem;
			}
		}
	}
	
	@media (min-width: $screen-md-min) {
		padding: 40px 0 35px 0;
		top: auto;
		left: auto;
		right: auto;
		position: relative;
		@include box-shadow(none);
		
		&__row {
			height: 45px;
			padding-left: 0;
		}
		
		&__toggle {
			display: none;
		}
		
		&__logo {
			width: 281px;
		}
		
		&__text {
			left: 350px;
			display: block;
		}
	}
	
	@media (min-width: $screen-lg-min) {
	
	}
	
	@media (min-width: $screen-xl-min) {
	
	}
}

.nav {
	z-index: 1050;
	position: relative;
	background: $color-blue;

	
	&__mobile {
		z-index: 100;
		padding: 10px 0;
		position: relative;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
		
		&_phone {
			color: #fff;
			font-size: 2rem;
			line-height: 2rem;
			display: inline-block;
			text-decoration: none;
			font-family: $font-family-second;
			
			&:hover {
				color: #fff;
				text-decoration: none;
			}
		}
		
		&_toggle {
			width: 24px;
			height: 24px;
			position: relative;
			display: inline-block;
			
			&:after,
			&:before {
				left: 50%;
				height: 2px;
				width: 24px;
				z-index: 10;
				content: '';
				background: #fff;
				margin-left: -12px;
				position: absolute;
				display: inline-block;
				@include transition(.3s);
			}
			
			&:after {
				top: 3px;
			}
			
			&:before {
				bottom: 3px;
			}
			
			span {
				top: 50%;
				left: 50%;
				height: 2px;
				width: 24px;
				z-index: 10;
				background: #fff;
				margin-top: -1px;
				margin-left: -12px;
				position: absolute;
				display: inline-block;
			}
		}
	}
	
	&__layout {
		top: 0;
		left: 0;
		opacity: 0;
		width: 100%;
		z-index: 50;
		height: 100vh;
		visibility: hidden;
		position: fixed;
		background: rgba(0,0,0,0.5);
		@include transition(.3s);
	}

	&__content {
		top: 67px;
		left: 0;
		width: 260px;
		height: calc(100vh - 67px);
		z-index: 1200;
		padding: 15px 0;
		position: fixed;
		overflow-y: hidden;
		margin-left: -280px;
		background: $color-blue;
		@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.5));
		@include transition(.3s);
		
		> ul {
			margin: 0;
			padding: 0;
			list-style: none;
			
			> li {
				
				> a {
					color: #fff;
					width: 100%;
					padding: 1px 15px;
					font-weight: 500;
					font-size: 1.6rem;
					line-height: 3rem;
					white-space: nowrap;
					display: inline-block;
					text-decoration: none;
					font-family: $font-family-head;
					
					&:hover {
						color: #fff;
						background: #023975;
						text-decoration: none;
					}
				}
				
				
				&.active {
					
					> a {
						color: #fff;
						background: #023975;
					}
					
				}
			}
		}
	}
	
	&.nav_open {
		
		.nav__layout {
			opacity: 1;
			visibility: visible;
			@include transition(.3s);
		}
		
		.nav__mobile_toggle {
			
			span {
				display: none;
			}
			
			&:after {
				top: 11px;
				@include rotate(-45deg);
				@include transition(.3s);
			}
		
			&:before {
				bottom: 11px;
				@include rotate(45deg);
				@include transition(.3s);
			}
		}
		
		.nav__content {
			margin-left: 0;
			@include transition(.3s);
		}
	}
	
	@media (min-width: $screen-sm-min) {
		
		&.fix_top {
			top: auto;
			left: auto;
			right: auto;
			position: relative;
		}
		
		&__mobile {
			display: none;
		}
	
		&__content {
			top: 87px;
			width: 330px;
			height: calc(100vh - 87px);
			margin-left: -350px;
			
			> ul {
				
				> li {
					
					> a {
						padding: 10px 20px;
						font-size: 1.6rem;
						line-height: 3rem;
					}
				}
			}
		}
	}
	
	@media (min-width: $screen-md-min) {
		background: transparent;
		@include box-shadow(none);
		
		
		&.fix_top {
			top: auto;
			left: auto;
			right: auto;
			position: relative;
		}
	
		&__mobile {
			display: none;
		}
		
		&__content {
			padding: 0;
			top: auto;
			left: auto;
			width: 100%;
			height: auto;
			margin-left: 0;
			overflow: hidden;
			position: relative;
			@include border-radius(25px);
			@include box-shadow(none);
			
			> ul {
				@include flexbox();
				
				> li {
					@include flex-grow(1);
					
					> a {
						text-align: center;
						padding: 10px 20px;
						@include border-radius(25px);
						
						&:hover {
						
						}
					}
				}
			}
		}
		
		&__layout {
			opacity: 0;
			display: none;
			visibility: hidden;
		}
	}
	
	
	@media (min-width: $screen-lg-min) {
	
		&__content {
			@include border-radius(35px);
			
			> ul {
				
				> li {
				
					> a {
						padding: 20px 30px;
						@include border-radius(35px);
					}
				}
			}
		}
	}
	
	@media (min-width: $screen-xl-min) {
		
		&__content {
			
			> ul {
				
				> li {
					
					> a {
						font-size: 2rem;
					}
				}
			}
		}
	}
}

