.footer {
	color: #fff;
	text-align: center;
	background: $color-blue url("../img/footer__bg.jpg") 50% 50% no-repeat;
	background-size: cover;
	
	&__bottom {
		font-size: 1.2rem;
		line-height: 2rem;
		padding-top: 20px;
		padding-bottom: 50px;
		border-top: 1px solid #204971;
	}
	
	&__top {
		padding-top: 40px;
		padding-bottom: 10px;
	}
	
	&__info {
		margin-bottom: 30px;
	}

	&__logo {
		width: 288px;
		display: block;
		margin: 0 auto 25px auto;
	}
	
	&__copy {
		color: #a9a9a9;
		font-size: 1.5rem;
		line-height: 2rem;
	}
	
	&__contact {
		margin: 0;
		padding: 0;
		white-space: nowrap;
		list-style: none;
		
		> li {
		
		}
		
		&_phone {
			color: #fff;
			font-size: 2rem;
			font-weight: 500;
			line-height: 2rem;
			display: inline-block;
			text-decoration: none;
			
			&:hover {
				color: #fff;
				text-decoration: navajowhite;
			}
		}
		
		
		&_callback {
			font-size: 1.6rem;
			line-height: 1.6rem;
			color: $color-red;
			display: inline-block;
			text-decoration: none;
			border-bottom: 1px solid $color-red;
			
			&:hover {
				color: $color-red;
				text-decoration: none;
				border-bottom-color: transparent;
			}
		}
	}
	
	&__nav {
		font-size: 1.6rem;
		line-height: 2rem;
		
		&_col {
			margin-bottom: 30px;
		}
		
		&_title {
			color: #fff;
			font-weight: 700;
			font-size: 1.8rem;
			line-height: 2rem;
			margin-bottom: 10px;
			font-family: $font-family-second;
			
			a {
				color: #fff;
				text-decoration: none;
				
				&:hover {
					color: #fff;
					text-decoration: none;
				}
			}
		}
		
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			
			li {
				margin-bottom: 10px;
				
				a {
					color: #fff;
					text-decoration: none;
					
					&:hover {
						color: #fff;
						text-decoration: underline;
					}
				}
			}
		}
	}
	
	@media (min-width: 576px) {
		text-align: left;
		
		&__row {
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);
		}
		
		&__info {
			@include order(1);
		}
		
		&__nav {
			margin: 0 -10px;
			width: calc(100% + 20px);
			@include flexbox();
			@include order(3);
			@include justify-content(space-between);
			
			&_col {
			//	width: 33.33%;
				padding: 0 10px;
				margin-bottom: 0;
			}
		}
		
		&__logo {
			margin:  0 0 25px 0;
		}
		
		&__contact {
			padding: 10px 0 0 30px;
			background: url("../img/icon__phone_red.png") 0 0 no-repeat;
			@include order(2);
		}
	}
	
	@media (min-width: $screen-sm-min) {
	
	}
	
	@media (min-width: $screen-md-min) {
	
	}
	
	@media (min-width: $screen-lg-min) {
		
		&__row {
			@include flex-wrap(nowrap);
		}
		
		&__info {
			margin-bottom: 0;
			@include order(1);
		}
		
		&__nav {
			width: 520px;
			@include order(2);
		}
		
		&__contact {
			@include order(3);
			margin-bottom: 0;
		}
	}
	
	@media (min-width: $screen-xl-min) {
	
	}
}