.page {
	width: 100%;
	overflow: hidden;
	min-height: 100vh;
	padding-top: 67px;
	@include flexbox();
	@include flex-direction(column);
	
	@media (min-width: $screen-sm-min) {
		padding-top: 87px;
	}
	
	@media (min-width: $screen-md-min) {
		padding-top: 0;
	}
}


.main {
	@include flex-grow(1);
}

.slider_button_prev,
.slider_button_next {
	top: 50%;
	width: 78px;
	z-index: 200;
	height: 78px;
	border: none;
	display: none;
	outline: none;
	cursor: pointer;
	margin-top: -39px;
	position: absolute;
	background: rgba(255,255,255,1) url("../img/icon__angle_prev.svg") 50% 50% no-repeat;
	@include transition(.3s);
	@include border-radius(50%);
	@include box-shadow(0px 0px 8px 0px rgba(0, 0, 0, 0.2));
	
	&:hover {
		background-color: rgba(255,255,255,1);
		@include box-shadow(0px 0px 8px 0px rgba(0, 0, 0, 0.4));
		@include transition(.3s);
	}
}

.slider_button_next {
	@include rotate(180deg);
}

.promo {
	
	&__slider {
	
	}
	
	&__slide {
		color: #fff;
		height: 420px;
		position: relative;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		@include flexbox();
		@include flex-direction(column);
		
		&:before {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 20;
			content: '';
			position: absolute;
			background: rgba(0, 44, 90, 0.5);
			background: -webkit-linear-gradient(left, rgba(0, 44, 90, 0.7), rgba(0, 44, 90, 0));
			background: -moz-linear-gradient(left, rgba(0, 44, 90, 0.7), rgba(0, 44, 90, 0));
			background: linear-gradient(to right, rgba(0, 44, 90, 0.7), rgba(0, 44, 90, 0));
		}
	}
	
	&__wrap {
		z-index: 50;
		margin: auto 0;
		position: relative;
	}
	
	&__heading {
		font-size: 2.4rem;
		font-weight: 800;
		line-height: 2.6rem;
		margin-bottom: 5px;
		text-transform: uppercase;
	}
	
	
	&__text {
		font-size: 2rem;
		line-height: 2.2rem;
		margin-bottom: 30px;
	}
	
	.btn_red {
		font-weight: 800;
	}
	
	@media (min-width: 576px) {
		
		&__slide {
			height: 360px;
		}
	}
	
	.swiper-pagination {
		font-size: 0;
		line-height: 0;
		bottom: 30px;
	}
	
	.swiper-pagination-bullet {
		opacity: 1;
		width: 20px;
		height: 20px;
		position: relative;
		display: inline-block;
		border: 2px solid #fff;
		background: transparent;
		margin: 0 6px !important;
		@include border-radius(50%);
	}
	
	.swiper-pagination-bullet-active {
	
		&:before {
			top: 50%;
			left: 50%;
			content: '';
			width: 10px;
			height: 10px;
			background: #fff;
			position: absolute;
			display: inline-block;
			margin: -5px 0 0 -5px;
			@include border-radius(50%);
			
		}
	}
	
	.promo_button_prev,
	.promo_button_next {
		top: 50%;
		z-index: 20;
		width: 78px;
		height: 78px;
		border: none;
		display: none;
		outline: none;
		cursor: pointer;
		margin-top: -39px;
		position: absolute;
		background: rgba(255,255,255,0.5) url("../img/icon__angle_prev.svg") 50% 50% no-repeat;
		@include border-radius(50%);
		@include transition(.3s);
		
		&:hover {
			background-color: rgba(255,255,255,0.7);
			@include transition(.3s);
		}
	}
	
	.promo_button_prev {
		left: 50%;
		margin-left: -485px;
	}
	
	.promo_button_next {
		right: 50%;
		margin-right: -485px;
		@include rotate(180deg);
	}
	
	@media (min-width: $screen-sm-min) {
		
		&__slide {
			height: 440px;
		}
		
		&__heading {
			font-size: 4.8rem;
			line-height: 5.2rem;
			margin-bottom: 0;
		}
		
		&__text {
			font-size: 3.2rem;
			line-height: 4.2rem;
		}
	}
	
	@media (min-width: $screen-md-min) {
		margin-top: -25px;
		
		&__slide {
			height: 509px;
		}
		
		&__wrap {
			padding-top: 30px;
		}
		
		&__heading {
			font-size: 5.6rem;
			line-height: 6.2rem;
		}
		
		&__text {
			margin-bottom: 35px;
		}
		
		&__content {
			padding: 0 90px;
		}
		
		.swiper-pagination {
			bottom: 50px;
		}
		
		.promo_button_prev,
		.promo_button_next {
			display: inline-block;
		}
	}
	
	@media (min-width: $screen-lg-min) {
		margin-top: -35px;
		
		
		.promo_button_prev {
			margin-left: -600px;
		}
		
		.promo_button_next {
			margin-right: -600px;
		}
	}
	
	@media (min-width: $screen-xl-min) {
		
		.promo_button_prev {
			margin-left: -670px;
		}
		
		.promo_button_next {
			margin-right: -670px;
		}
	}
	
	@media (min-width: 1560px) {
		
		.promo_button_prev {
			margin-left: -740px;
		}
		
		.promo_button_next {
			margin-right: -740px;
		}
	
	}
}

.block {
	padding-top: 30px;
	padding-bottom: 30px;
	
	&_gray {
		background: #f3f3f3;
	}
	
	h2 {
		color: $color-blue;
		margin-bottom: 30px;
	}
	
	@media (min-width: $screen-md-min) {
		padding-top: 50px;
		padding-bottom: 50px;
		
		h2 {
			margin-bottom: 50px;
		}
	}
	
	@media (min-width: $screen-lg-min) {
	
	}
}

.news_block {
	max-width: 400px;
	margin: 0 auto;
	overflow: visible;
	
	&__inner {
		width: 290px;
		position: relative;
	}
	
	&:before {
		top: -20px;
		left: -500px;
		bottom: -20px;
		z-index: 50;
		width: 500px;
		content: '';
		position: absolute;
		background: url("../img/slider_pattern_white__left.png") 100% 0 repeat-y;
	}
	
	&:after {
		top: -20px;
		right: -500px;
		bottom: -20px;
		z-index: 50;
		width: 500px;
		content: '';
		position: absolute;
		background: url("../img/slider_pattern_white__right.png") 0 0 repeat-y;
	}
	
	&:after,
	&:before {
	//	display: none;
	}
	
	.swiper-slide {
	
	}
	
	.swiper-pagination {
		z-index: 200;
		font-size: 0;
		line-height: 0;
		left: auto;
		right: auto;
		bottom: auto;
		display: none;
		position: relative;
		padding-top: 40px;
	}
	
	.swiper-pagination-bullet {
		opacity: 1;
		width: 20px;
		height: 20px;
		cursor: pointer;
		outline: none;
		position: relative;
		display: inline-block;
		border: 2px solid $color-blue;
		background: transparent;
		margin: 0 6px !important;
		@include border-radius(50%);
	}
	
	.swiper-pagination-bullet-active {
		
		&:before {
			top: 50%;
			left: 50%;
			content: '';
			width: 10px;
			height: 10px;
			background: $color-blue;
			position: absolute;
			display: inline-block;
			margin: -5px 0 0 -5px;
			@include border-radius(50%);
			
		}
	}
	
	@media (min-width: $screen-sm-min) {
		width: 100%;
		max-width: inherit;
		
		
		&__inner {
			width: 100%;
			position: relative;
		}
		
		
		&:after,
		&:before {
			display: block;
		}
	}
	
	@media (min-width: $screen-md-min) {
	
	}
	
	@media (min-width: $screen-lg-min) {
		
		.swiper-pagination {
			display: block;
		}
		
		
		.slider_button_prev,
		.slider_button_next {
			margin-top: -100px;
			display: inline-block;
		}
		
		.slider_button_prev {
			left: -30px;
		}
		
		.slider_button_next {
			right: -30px;
		}
		
		.swiper-pagination {
			display: block;
		}
	}
	
	@media (min-width: 1600px) {
		
		&:before {
			width: 1000px;
			left: -1000px;
		}
		
		&:after {
			width: 1000px;
			right: -1000px;
		}
		
		.slider_button_prev {
			left: -95px;
		}
		
		.slider_button_next {
			right: -95px;
		}
	}
}

.news_item {
	font-size: 0;
	line-height: 0;
	display: block;
	overflow: hidden;
	background: #fff;
	color: $color-blue;
	text-decoration: none;
	@include box-shadow(0px 0px 30px 0px rgba(0, 0, 0, 0.28));
	@include transition(.3s);
	@include border-radius(5px);
	
	&:hover {
		color: $color-blue;
		text-decoration: none;
		@include box-shadow(0px 0px 30px 0px rgba(0, 0, 0, 0.48));
		@include transition(.3s);
	}
	
	&__image {
		position: relative;
	}
	
	&__date {
		right: 0;
		top: 22px;
		color: #fff;
		z-index: 10;
	//	width: 185px;
		height: 44px;
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 2rem;
		position: absolute;
		padding: 12px 20px 12px 30px;
		font-family: $font-family-second;
		background: url("../img/date__bg.png") 0 0 no-repeat;
	}
	
	&__title {
		font-weight: 700;
		font-size: 2.4rem;
		line-height: 3rem;
		padding: 20px 20px;
		
		span {
			width: 100%;
			height: 60px;
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	
	@media (min-width: $screen-xl-min) {
		
		&__title {
			font-weight: 800;
			font-size: 3.1rem;
			line-height: 3.5rem;
			padding: 20px 25px 20px 25px;
			
			span {
				height: 70px;
			}
		}
	}
}


.advantage {
	padding-top: 40px;
	margin-bottom: 0;
	font-size: 0;
	line-height: 0;
	background: #fff;

	ul {
		padding: 0;
		margin: 0 -10px;
		list-style: none;
		@include flexbox();
		@include flex-wrap(wrap);
	
		li {
			width: 50%;
			margin-bottom: 40px;
		}
	}
	
	&__val {
		margin-bottom: 30px;
		@include flexbox();
		font-family: $font-family-second;
		@include justify-content(center);
		
		span {
			color: #fff;
			width: 37px;
			height: 57px;
			padding: 2px 0 14px 0;
			font-weight: 700;
			font-size: 2.7rem;
			line-height: 4.1rem;
			text-align: center;
			display: inline-block;
			background: $color-blue;
			border-left: 1px solid #fff;
			border-right: 1px solid #fff;
			font-family: $font-family-oswald;
		}
	}
	
	&__text {
		color: #000;
		text-align: center;
		font-weight: 800;
		font-size: 2.1rem;
		line-height: 2.1rem;
	}
	
	@media (min-width: $screen-sm-min) {
	
		ul {
			@include flex-wrap(nowrap);
			
			li {
				width: 25%;
				
				&:nth-child(1) {
					@include order(1);
				}
				
				&:nth-child(2) {
					@include order(4);
				}
				
				&:nth-child(3) {
					@include order(2);
				}
				
				&:nth-child(4) {
					@include order(3);
				}
			}
		}
	}
	
	@media (min-width: $screen-lg-min) {
		
		&__text {
			font-size: 2.6rem;
			line-height: 2.6rem;
		}
		
		&__val {
		
			span {
				font-size: 3.9rem;
			}
		}
	}
	
	@media (min-width: $screen-xl-min) {
		
		&__text {
			font-size: 3.1rem;
			line-height: 3.1rem;
		}
		
		&__val {
			
			span {
				font-size: 3.9rem;
			}
		}
	}
}

.offer {
	padding-top: 65px;
	padding-bottom: 70px;
	background: url("../img/form__bg.jpg") 50% 50% no-repeat;
	background-size: cover;
	
	h2 {
		color: #fff;
		margin-bottom: 55px;
	}
	
	.btn_red {
		width: 100%;
	}
	
	@media (min-width: $screen-xl-min) {
		
		h2 {
			padding-left: 100px;
		}
	}
}

.popular {
	width: 100%;
	
	&_inner {
		width: 290px;
	//	margin: 0 auto;
		position: relative;
	}
	
	&_slider {
		overflow: visible;
		
		&:before {
			top: 0;
			left: -500px;
			bottom: 0;
			z-index: 50;
			width: 500px;
			content: '';
			position: absolute;
			background: url("../img/slider_pattern_white__left.png") 100% 0 repeat-y;
		}
		
		&:after {
			top: 0;
			right: -500px;
			bottom: 0;
			z-index: 50;
			width: 500px;
			content: '';
			position: absolute;
			background: url("../img/slider_pattern_white__right.png") 0 0 repeat-y;
		}
		
		&:after,
		&:before {
	//		display: none;
		}
		
		.swiper-pagination {
			z-index: 200;
			font-size: 0;
			line-height: 0;
			bottom: auto;
			left: auto;
			right: auto;
			display: none;
			padding-top: 20px;
			position: relative;
		}
		
		.swiper-pagination-bullet {
			opacity: 1;
			width: 20px;
			height: 20px;
			cursor: pointer;
			position: relative;
			display: inline-block;
			border: 2px solid $color-blue;
			background: transparent;
			margin: 0 6px !important;
			@include border-radius(50%);
		}
		
		.swiper-pagination-bullet-active {
			
			&:before {
				top: 50%;
				left: 50%;
				content: '';
				width: 10px;
				height: 10px;
				background: $color-blue;
				position: absolute;
				display: inline-block;
				margin: -5px 0 0 -5px;
				@include border-radius(50%);
				
			}
		}
	}
	
	&__item {
		width: 100%;
		height: 260px;
		color: #fff;
		display: block;
		overflow: hidden;
		position: relative;
		margin-bottom: 10px;
		text-decoration: none;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		
		@include border-radius(6px);
		
		&:before {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			content: '';
			position: absolute;
			background: rgba(0,0,0,0.3);
			@include transition(.3s);
		}
		
		&:hover {
			color: #fff;
			text-decoration: none;
			
			&:before {
				background: rgba(0,0,0,0.6);
				@include transition(.3s);
			}
		}
	}
	
	&__image {
		z-index: 1;
		position: relative;
		
	}
	
	&__wrap {
		display: none;
	}
	
	&__content {
		z-index: 10;
		padding: 30px 30px;
		position: relative;
		font-family: $font-family-second;
		
		&_title {
			font-weight: 700;
			font-size: 2.6rem;
			line-height: 3rem;
			margin-bottom: 5px;
		}
		
		&_text {
			font-size: 1.8rem;
			line-height: 2rem;
			font-style: italic;
		}
	}
	
	&_one {
	
	}
	
	&_two {
	
	}
	
	&_three {
	
	}
	
	&_four {
	
	}
	
	&__button {
		left: 0;
		right: 0;
		z-index: 200;
		bottom: 90px;
		text-align: center;
		position: absolute;
	}
	
	
	@media (min-width: 576px) {
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(space-between);
		
		&_inner {
	//		width: 400px;
		}
		
		&__item {
		//	width: 290px;
		}
		
		&_slider {
	
		}
	}
	
		@media (min-width: $screen-sm-min) {
		
		&_inner {
			width: 100%;
		}
		
		&__item {
			width: 320px;
			height: 200px;
			margin-bottom: 10px;
		}
		
		&_slider {
			
			&:after,
			&:before {
				display: block;
			}
		}
		
		&_two {
			width: 390px;
		}
		
		&_three {
			width: 390px;
		}
		
		
		&__content {
			
			&_title {
				font-size: 3.4rem;
				line-height: 3.8rem;
				margin-bottom: 10px;
			}
			
			&_text {
				font-size: 2.4rem;
				line-height: 2.8rem;
			}
		}
		
		&__button {
			left: auto;
			bottom: 105px;
			width: 345px;
		}
	}
	
	@media (min-width: $screen-md-min) {
		
		&_inner {
		}
		
		&_slider {
			
			.slider_button_prev,
			.slider_button_next {
				margin-top: -100px;
			}
			
			.swiper-pagination {
				display: block;
			}
		}
		
		&__item {
			width: 350px;
			height: 315px;
			margin-bottom: 30px;
		}
		
		&_one {
		
		}
		
		&_two {
			width: 560px;
		}
		
		&_three {
			width: 560px;
		}
		
		&_four {
		
		}
		
		&__content {
			padding-top: 40px;
		}
		
		&__button {
			bottom: 135px;
			width: 350px;
		}
	}
	
	@media (min-width: $screen-lg-min) {
		
		&__item {
			width: 435px;
			height: 320px;
		}
		
		&__content {
			
			&_title {
				font-size: 4.2rem;
				line-height: 4.4rem;
			}
			
			&_text {
				font-size: 2.8rem;
				line-height: 3rem;
			}
		}
		
		&_one {
		
		
		}
		
		&_two {
			width: 675px;
		}
		
		&_three {
			width: 675px;
		}
		
		&_four {
		
		}
		
		&__button {
			bottom: 140px;
			width: 435px;
		}
		
		&_slider {
			
			
			.slider_button_prev,
			.slider_button_next {
				margin-top: -70px;
				display: inline-block;
			}
			
			.slider_button_prev {
				left: -30px;
			}
			
			.slider_button_next {
				right: -30px;
			}
			
			
			.swiper-pagination {
				display: block;
			}
		}
	}
	
	@media (min-width: $screen-xl-min) {
		
		&__item {
			width: 435px;
			height: 390px;
		}
		
		&__content {
			
			&_title {
				font-size: 4.8rem;
				line-height: 5rem;
			}
			
			&_text {
				font-size: 3.2rem;
				line-height: 3.4rem;
			}
		}
		
		&_two {
			width: 815px;
		}
		
		&_three {
			width: 815px;
		}
	}
	
	@media (min-width: 1600px) {
		
		&_slider {
			
			&:before {
				width: 1000px;
				left: -1010px;
			}
			
			&:after {
				width: 1000px;
				right: -1010px;
			}
			
			.slider_button_prev,
			.slider_button_next {
				margin-top: -75px;
				display: inline-block;
			}
			
			.slider_button_prev {
				left: -90px;
			}
			
			.slider_button_next {
				right: -90px;
			}
		}
	}
}

.salon {
	margin: 0 auto;
	max-width: 380px;
	overflow: visible;
	
	&:before {
		top: -20px;
		left: -510px;
		bottom: -20px;
		z-index: 50;
		width: 500px;
		content: '';
		position: absolute;
		background: url("../img/slider_pattern_gray__left.png") 100% 0 repeat-y;
	}
	
	&:after {
		top: -20px;
		right: -510px;
		bottom: -20px;
		z-index: 50;
		width: 500px;
		content: '';
		position: absolute;
		background: url("../img/slider_pattern_gray__right.png") 0 0 repeat-y;
	}
	
	&:after,
	&:before {
	//	display: none;
	}
	
	&_inner {
		width: 290px;
		position: relative;
	}
	
	.swiper-slide {
	}
	
	.swiper-pagination {
		z-index: 200;
		font-size: 0;
		line-height: 0;
		left: auto;
		right: auto;
		bottom: auto;
		display: none;
		padding-top: 40px;
		position: relative;
	}
	
	.swiper-pagination-bullet {
		opacity: 1;
		width: 20px;
		height: 20px;
		cursor: pointer;
		outline: none;
		position: relative;
		display: inline-block;
		border: 2px solid $color-blue;
		background: transparent;
		margin: 0 6px !important;
		@include border-radius(50%);
	}
	
	.swiper-pagination-bullet-active {
		
		&:before {
			top: 50%;
			left: 50%;
			content: '';
			width: 10px;
			height: 10px;
			background: $color-blue;
			position: absolute;
			display: inline-block;
			margin: -5px 0 0 -5px;
			@include border-radius(50%);
			
		}
	}
	
	&__item {
		color: #fff;
		display: block;
		overflow: hidden;
		position: relative;
		text-decoration: none;
		@include transition(.3s);
		@include border-radius(4px);
		@include box-shadow(0px 0px 20px 0px rgba(0, 0, 0, 0.28));
		
		&:hover {
			color: #fff;
			text-decoration: none;
			@include transition(.3s);
			@include box-shadow(0px 0px 30px 0px rgba(0, 0, 0, 0.4));
		}
	}
	
	&__content {
		top: 30px;
		left: 25px;
		z-index: 50;
		position: absolute;
	}
	
	&__title {
		font-weight: 800;
		font-size: 2.6rem;
		line-height: 3rem;
	}
	
	&__text {
		font-weight: 500;
		font-size: 1.8rem;
		line-height: 2.2rem;
		font-style: italic;
		font-family: $font-family-second;
	}
	
	@media (min-width: $screen-sm-min) {
		max-width: inherit;
		width: 100%;
		
		&:after,
		&:before {
			display: block;
		}
		
		&_inner {
			width: 100%;
			position: relative;
		}
		
		&__title {
			font-size: 4.6rem;
			line-height: 5rem;
		}
		
		&__text {
			font-size: 3rem;
			line-height: 3.2rem;
		}
	}
	
	@media (min-width: $screen-md-min) {
		width: 100%;
		
		&__title {
			font-size: 3.6rem;
			line-height: 4rem;
		}
		
		&__text {
			font-size: 2.4rem;
			line-height: 2.8rem;
		}
		
		.swiper-pagination {
			display: block;
		}
	}
	
	@media (min-width: $screen-lg-min) {
		
		&__title {
			font-size: 4rem;
			line-height: 4.2rem;
		}
		
		&__text {
			font-size: 2.6rem;
			line-height: 2.8rem;
		}
		
		.swiper-pagination {
			display: block;
		}
		
		.slider_button_prev,
		.slider_button_next {
			margin-top: -70px;
			display: inline-block;
		}
		
		.slider_button_prev {
			left: -30px;
		}
		
		.slider_button_next {
			right: -30px;
		}
	}
	
	
	@media (min-width: 1600px) {
		
		&__title {
			font-size: 4.6rem;
			line-height: 5rem;
		}
		
		&__text {
			font-size: 3rem;
			line-height: 3.2rem;
		}
		
		&:before {
			width: 1000px;
			left: -1020px;
		}
		
		&:after {
			width: 1000px;
			right: -1020px;
		}
		
		.slider_button_prev {
			left: -90px;
		}
		
		.slider_button_next {
			right: -90px;
		}
	}
}

.actions {
	width: 100%;
	margin: 0 auto;
	max-width: 500px;
	
	&__slider {
	
	}
	
	.swiper-slide {
	
	}
	
	.swiper-pagination {
		z-index: 200;
		font-size: 0;
		line-height: 0;
		left: auto;
		right: auto;
		bottom: auto;
		display: none;
		padding-top: 40px;
		position: relative;
	}
	
	.swiper-pagination-bullet {
		opacity: 1;
		width: 20px;
		height: 20px;
		outline: none;
		cursor: pointer;
		position: relative;
		display: inline-block;
		border: 2px solid $color-blue;
		background: transparent;
		margin: 0 6px !important;
		@include border-radius(50%);
	}
	
	.swiper-pagination-bullet-active {
		
		&:before {
			top: 50%;
			left: 50%;
			content: '';
			width: 10px;
			height: 10px;
			background: $color-blue;
			position: absolute;
			display: inline-block;
			margin: -5px 0 0 -5px;
			@include border-radius(50%);
			
		}
	}
	
	.slider_button_prev,
	.slider_button_next {
	//	display: none;
	}
	
	@media (min-width: $screen-sm-min) {
		max-width: 1920px;
	}
	
	@media (min-width: $screen-md-min) {
	
	}
	
	@media (min-width: $screen-lg-min) {
		
		.swiper-pagination {
			display: block;
		}
		
		.slider_button_prev,
		.slider_button_next {
			margin-top: -70px;
			display: inline-block;
		}
		
		.slider_button_prev {
			left: 50%;
			margin-left: -600px;
		}
		
		.slider_button_next {
			right: 50%;
			margin-right: -600px;
		}
	}
	
	
	@media (min-width: $screen-xl-min) {
		
		.slider_button_prev {
			margin-left: -700px;
		}
		
		.slider_button_next {
			margin-right: -700px;
		}
	}
	
	@media (min-width: 1600px) {
		
		.slider_button_prev {
			left: 30px;
			margin-left: 0;
		}
		
		.slider_button_next {
			right: 30px;
			margin-right: 0;
		}
	}
}

.action {
	color: #fff;
	width: 100%;
	height: 330px;
	display: block;
	overflow: hidden;
	position: relative;
	border: 2px solid #fff;
	text-decoration: none;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	
	&:hover {
		color: #fff;
		text-decoration: none;
	}
	
	&_row {
		margin: 0 -2px;
	}
	
	&__content {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		position: absolute;
		padding: 25px 30px 100px 30px;
	}
	
	&__title {
		font-weight: 800;
		font-size: 2.2rem;
		line-height: 2.6rem;
		margin-bottom: 8px;
	}
	
	&__lead {
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 2rem;
	}
	
	&__text {
		font-weight: 700;
		font-size: 1.2rem;
		line-height: 2rem;
	}
	
	&__button {
		left: 30px;
		bottom: 30px;
		position: absolute;
	}
	
	&_black {
		color: #000;
		
		&:hover {
			color: #000;
		}
	}
	
	@media (min-width: $screen-sm-min) {
		width: 50%;
		height: 400px;
		
		&_row {
			margin: 0 -2px;
			@include flexbox();
			@include flex-wrap(wrap);
		}
		
		&__content {
			padding: 50px 35px 100px 35px;
		}
		
		&__title {
			font-size: 2.8rem;
			line-height: 3.2rem;
		}
		
		&__lead {
			font-weight: 700;
			font-size: 2.2rem;
			line-height: 2.6rem;
		}
		
		&__text {
			font-weight: 700;
			font-size: 1.6rem;
			line-height: 3rem;
		}
		
		&__button {
			left: 35px;
			bottom: 40px;
		}
		
		&_small {
			width: 45%;
		}
		
		&_long {
			width: 55%;
		}
	}
	
	
	@media (min-width: $screen-md-min) {
		height: 420px;
	
		&_small {
			width: 45%;
		}
		
		&_long {
			width: 55%;
		}
	}
	
	@media (min-width: $screen-lg-min) {
		height: 420px;
		
		&__title {
			font-size: 3.2rem;
			line-height: 3.8rem;
		}
		
		&__lead {
			font-weight: 700;
			font-size: 2.2rem;
			line-height: 2.6rem;
		}
		
		&_small {
			width: 40%;
		}
		
		&_long {
			width: 60%;
		}
	}
	
	@media (min-width: $screen-xl-min) {
		height: 600px;
		
		&__title {
			font-size: 3.6rem;
			line-height: 5rem;
		}
		
		&__lead {
			font-weight: 700;
			font-size: 2.5rem;
			line-height: 3.2rem;
		}
		
		&_small {
			width: 34%;
		}
		
		&_long {
			width: 66%;
		}
	}
}

.modal {
	width: 320px;
	padding: 40px 20px;
	background: url("../img/form__bg.jpg") 50% 50% no-repeat;
	background-size: cover;
	
	&__title {
		color: #fff;
		font-size: 2.8rem;
		font-weight: 700;
		line-height: 3.2rem;
		text-align: center;
		margin-bottom: 30px;
	}
	
	.btn_red {
		width: 100%;
	}
	
	@media (min-width: $screen-sm-min) {
		width: 500px;
		padding: 50px 60px;
		
		&__title {
			font-size: 3.6rem;
			line-height: 4rem;
		}
	}
}

@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}