.btn {
	color: #fff;
	outline: none;
	cursor: pointer;
	font-weight: 400;
	font-size: 2rem;
	line-height: 2.8rem;
	padding: 20px 35px 20px 35px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #fff;
	background: rgba(255,255,255,0);
	font-family: $font-family-second;
	@include border-radius(4px);
	@include transition(.3s);
	
	&:hover {
		color: #fff;
		background: rgba(255,255,255,0.4);
		@include transition(.3s);
	}
	
	&:active {
		background: rgba(255,255,255,0.2);
	}
	
	&:focus,
	&.focus {
		outline: 0;
	}
	
	&.btn_black {
		color: #000;
		border-color: #000;
		background: rgba(0,0,0,0);
		
		&:hover {
			color: #000;
			background: rgba(0,0,0,0.4);
		}
		
		&:active {
			background: rgba(0,0,0,0.2);
		}
	}
	
	@media (min-width: $screen-xl-min) {
		font-weight: 300;
		font-size: 2.4rem;
	}
}


.btn_border {
	color: #fff;
	outline: none;
	cursor: pointer;
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 2.8rem;
	padding: 15px 30px 15px 30px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #fff;
	background: rgba(255,255,255,0.23);
	font-family: $font-family-second;
	@include border-radius(4px);
	@include transition(.3s);

	&:hover {
		color: #fff;
		background: rgba(255,255,255,0.4);
		@include transition(.3s);
	}

	&:active {
		background: rgba(255,255,255,0.2);
	}

	&:focus,
	&.focus {
		outline: 0;
	}
	
	@media (min-width: $screen-xl-min) {
		font-size: 2.2rem;
		padding: 25px 35px 25px 35px;
	}
}

.btn_red {
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 2rem;
	padding: 20px 30px 20px 30px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #dc291a;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	font-family: $font-family-second;
	@include border-radius(4px);
	@include transition(.3s);
	
	&:hover {
		color: #fff;
		background: #dc0018;
		@include transition(.3s);
	}
	
	&:active {
		background: #dc291a;
	}
	
	&:focus,
	&.focus {
		outline: 0;
	}
	
	@media (min-width: $screen-md-min) {
		font-size: 1.8rem;
	}
	
	@media (min-width: $screen-xl-min) {
		font-size: 2rem;
	
	}
}

.btn_round {
	padding: 20px 30px 20px 30px;
	@include border-radius(30px);
	
	@media (min-width: $screen-md-min) {
		padding: 20px 50px 20px 50px;
	}
}



