.form_group {
	margin-bottom: 20px;
}


.form_control {
	margin: 0;
	width: 100%;
	color: #fff;
	height: 60px;
	outline: none;
	font-weight: 700;
	background: #fff;
	font-size: 1.8rem;
	line-height: 3rem;
	padding: 14px 20px 14px 20px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #fff;
	font-family: $font-family-second;
	background: rgba(255,255,255,0.13);
	@include placeholder(#fff);
	@include border-radius(5px);
	
	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}
	
	&:focus,
	&:active {
		outline: none;
		@include placeholder(transparent);
	}
	
	@media (min-width: $screen-xl-min) {
		font-size: 2.2rem;
	}
}

.form_select {
	cursor: pointer;
	padding-right: 40px;
	-webkit-appearance: none;
	background: rgba(255,255,255,0.13) url("../img/icon__select.png") 100% 50% no-repeat;
	
	/* for FF */
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	/* for IE */
	-ms-appearance: none;
	appearance: none!important;
	select::-ms-expand {
		display: none;
	}
}

option {
	color: #000;
}

